<h1>您预定的<%= @restaurant_name %>的菜单为：</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_specifications.each do |spec| %>
      <tr>
				<td><%= spec.name %></td>
				<td><%= spec.price %></td>
				<td><%= spec.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


