<div class="restaurant-info">
       <div class="info-name">
                <h2>
                    <a href="/shop/4052899">上海会馆(香港名都店)</a>
                </h2>
                <div class="comment-rst">
                    <p>
                        <span title="准五星商户" class="item-rank-rst irr-star45" itemprop="rating" itemscope="" itemtype="http://data-vocabulary.org/Rating">
                            <meta itemprop="rating" content="4">评分:准五星商户
                        </span>
                        <span>人均<strong class="stress">¥</strong></span><strong class="stress">119</strong>
                    </p>
                </div>
            </div>
            <div class="info-list">
                    <div>
                            <span>口味:8.6</span>
                            <em class="sep">|</em>
                            <span>环境:8.6</span>
                            <em class="sep">|</em>
                            <span>服务:8.6</span>
                            
                    </div>
                <ul>
                    <li></li>
                        <li>
                            <em class="tit">地址：</em>河南南路489号香港名都5楼
                        </li>
                        <li>
                            <em class="tit">电话：</em>63357779
                        </li>
                    <li>
                </li></ul>
            </div>
        </div>